pdaddr=127.0.0.1:2379
tidbaddr=127.0.0.1
tidbport=4000
tidbuser=root
tidbdatabase=tpch,integtest
testcases=all
testbasepath=/Users/ilovesoup1/workspace/pingcap/src/github.com/pingcap/tispark/integtest/testcases
dumpDB=false
database=tpch
loaddata=false