#ignore idea configuration
.idea
*.iml
pub.sh

# ignore compiled classes
target

# ignore version info
core/src/main/scala/com/pingcap/tispark/TiSparkVersion.scala
tikv-client/src/main/java/com/pingcap/tikv/TiVersion.java

# ignore eclipse configuration
.project

# ignore maven related files
dependency-reduced-pom.xml
# ignore emacs configuation
.meghanada
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore Mac files
.DS_Store

# ignore gradle
.gradle

metastore_db/
.java-version

# ignore tikv-client proto files
tikv-client/kvproto
tikv-client/tipb
tikv-client/proto
tikv-client/raft-rs

# ignore tikv-client bazel build
tikv-client/bazel-*

# ignore docker-TiDB cluster data
data

# ignore test properties
core/src/test/resources/tidb_config.properties

# ignore pytispark build
python/build/
python/dist/
python/pytispark.egg-info/

# ignore spark warehouse
spark-warehouse

tikv-client/src/main/java/com/pingcap/tikv/parser/*.interp
tikv-client/src/main/java/com/pingcap/tikv/parser/*.tokens

# ignore log4j config
log4j.properties
