# TiDB address
# tidb.addr=127.0.0.1
# TiDB port
# tidb.port=4000
# TiDB login user
# tidb.user=root
# TiDB login password
# tidb.password=
# TPC-H database name, if you already have a tpch database in TiDB, specify the db name so that TPC-H tests will run on this database
# TPC-H test is enabled by default, you may turn it off by setting tpch.db=
# tpch.db=tpch_test
# TPC-DS database name, if you already have a tpcds database in TiDB, specify the db name so that TPC-DS tests will run on this database
# TPC-DS test is disabled by default
# tpcds.db=tpcds_test
# Placement Driver address:port
# spark.tispark.pd.addresses=127.0.0.1:2379
# Whether to allow index read in tests, you must set this to true to run index tests.
# spark.tispark.plan.allow_index_read=true
# Whether to load test data before running tests. If you haven't load tispark_test or tpch_test data, set this to true. The next time you run tests, you can set this to false.
# If you do not want the change this value, please set it to auto, the test data will be loaded only if it does not exist in tidb.
# test.data.load=auto
# Whether to generate test data. Enabling test data generation may change data of all tests.
# test.data.generate=true
# The seed used to generate test data (0 means random).
# test.data.generate.seed=1234
# Whether to enable TiFlash tests
# test.tiflash.enable=false
# DB prefix for tidb databases in case it conflicts with hive database
# spark.tispark.db_prefix=tidb_
# Whether to use the new feature Catalog provided by spark-3.0
#spark.sql.catalog.tidb_catalog=org.apache.spark.sql.catalyst.catalog.TiCatalog
