# TiDB address
tidb.addr=127.0.0.1
# TiDB port
tidb.port=4000
# TiDB login user
tidb.user=root
# TPCH database name, if you already have a tpch database in TiDB, specify the db name so that TPCH tests will run on this database
tpch.db=tpch_test
# Placement Driver address:port
spark.tispark.pd.addresses=127.0.0.1:2379
# Whether to allow index read in tests, you must set this to true to run index tests.
spark.tispark.plan.allow_index_read=true
# Whether to load test data before running tests. If you haven't load tispark_test or tpch_test data, set this to true. The next time you run tests, you can set this to false.
test.data.load=false