spark.tispark.pd.addresses pd:2379
spark.sql.catalog.tidb_catalog org.apache.spark.sql.catalyst.catalog.TiCatalog
spark.sql.catalog.tidb_catalog.pd.addresses pd:2379

#spark.tispark.tikv.tls_enable=true
#spark.tispark.tikv.trust_cert_collection=/config/cert/pem/root.pem
#spark.tispark.tikv.key_cert_chain=/config/cert/pem/client.pem
#spark.tispark.tikv.key_file=/config/cert/pem/client-pkcs8.key

spark.tispark.tikv.tls_enable=true
spark.tispark.tikv.trust_cert_collection=/config/cert/pem/ca1.crt
spark.tispark.tikv.key_cert_chain=/config/cert/pem/pd1.crt
spark.tispark.tikv.key_file=/config/cert/pem/pd1.pem

#spark.tispark.tikv.jks_enable=true
#spark.tispark.tikv.jks_key_path=/config/cert/jks/client-keystore
#spark.tispark.tikv.jks_key_password=123456
#spark.tispark.tikv.jks_trust_path=/config/cert/jks/server-cert-store
#spark.tispark.tikv.jks_trust_password=12345678

spark.tispark.jdbc.tls_enable=true
spark.tispark.jdbc.server_cert_store = /config/cert/jks/server-cert-store
spark.tispark.jdbc.server_cert_password = 12345678
spark.tispark.jdbc.client_cert_store = /config/cert/jks/client-keystore
spark.tispark.jdbc.client_cert_password = 123456
