name: Follower Read test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  followerread-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven

      - name: deploy TiUP
        run: curl --proto '=https' --tlsv1.2 -sSf https://tiup-mirrors.pingcap.com/install.sh | sh
      - name: deploy TiDB
        run: /home/runner/.tiup/bin/tiup playground --db.config config/followerread/tidb.toml --kv.config config/followerread/tikv.toml --pd.config config/followerread/pd.toml --kv 3 --without-monitor  &

      - name: copy properties
        run: cp core/src/test/resources/tidb_config.properties.withoutdataload.template core/src/test/resources/tidb_config.properties

      - name: test follower read
        run: mvn test -e -am -Dtest=moo -DwildcardSuites=org.apache.spark.sql.followerread.FollowerReadSuite -DfailIfNoTests=false